.title {
  flex: 1
}

.hidden {
  display: none;
}

.button-div, .login-container {
  text-align: center;
  padding: 20px;
  justify-content: center !important;
}

.room-button {
  text-align: center;
  margin: auto;
}

.room-button Button {
  width: 200px;
}

.table-div {
  padding: 20px;
  width: 1100px;
  margin: auto;
}

.login-container {
  width: 500px;
  margin: 50px auto;
  height: 300px;
}

.login-container Button {
  margin: 5px;
}

.chat-container {
  width: 1100px;
  margin: 10px auto;
  height: 450px;
}

.message-container {
  width: 1100px;
  margin: 10px auto;
  height: 75px;
  display: flex;
  align-items: center;
}

.guest-input-container {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between !important;
}

.room-dialog {
  align-items: center;
}

div.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form div, .room-dialog-name, .room-dialog-status {
  margin-bottom: 10px !important;
}

.room-dialog-status {
  width: 210px;
}

.room-dialog-content {
  margin: auto;
  width: fit-content;
}

.select-room, .add-username {
  width: 210px;
  margin: 10px 0px !important;
}

.message {
  margin-left: 10px !important;
  width: 1000px;
}

.message-button {
  margin: auto 10px !important;
  height: 56px;
}

.img-logo {
  width: 50px;
  padding-right: 5px;
}

.chat {
  padding: 10px;
}

.chat-username {
  font-weight: bold;
  color: darkslateblue;
}
.pagination {
  display: flex;
  padding: 2px;
}

.pagination a {
  text-decoration: none;
  color: blue;
 float: left;
 padding: 10px 15px;
 border: 0.5px solid rgb(167, 167, 167);
} 
.pagination a:hover{
  background-color:rgb(219, 218, 218);
}

.pagination-div{
  float: right;
  margin-right: 10%;
}

.page-item{
  list-style-type: none;
}


.chat-container {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.App-link {
  color: #61dafb;
}

.filter-box{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left:11%;
}

.table-cell{
  display: flex;
}
.sort-span:hover{
  cursor: pointer;
}
.delete_btn{
  margin-left:12%;
}
.column-sort{
  position: relative;
  left:4%;
  width:10%;
}