.title {
  flex: 1
}

.hidden {
  display: none;
}

.button-div, .login-container {
  text-align: center;
  padding: 20px;
  justify-content: center !important;
}

.room-button {
  text-align: right;
  width: 1100px;
  margin: auto;
}

.table-div {
  padding: 20px;
  width: 1100px;
  margin: auto;
}

.login-container {
  width: 500px;
  margin: 50px auto;
  height: 200px;
}

.chat-container {
  width: 1100px;
  margin: 10px auto;
  height: 450px;
}

.message-container {
  width: 1100px;
  margin: 10px auto;
  height: 75px;
  display: flex;
  align-items: center;
}

.guest-input-container {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between !important;
}

.room-dialog {
  align-items: center;
}

div.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form div, .room-dialog-name, .room-dialog-status {
  margin-bottom: 10px !important;
}

.room-dialog-status {
  width: 210px;
}

.room-dialog-content {
  margin: auto;
  width: fit-content;
}

.select-room, .add-username {
  width: 210px;
  margin: 10px 0px !important;
}

.message {
  margin-left: 10px !important;
  width: 1000px;
}

.message-button {
  margin: auto 10px !important;
  height: 56px;
}